<section class="hero py-16">
  <div class="container px-48 mx-auto flex items-center justify-around">
    <div class="w-1/2">
      <h6 class="text-2xl"><em>Are you hungry?</em></h6>
      <h1 class="text-4xl md:text-6xl font-semibold">Don't wait !</h1>
      <form method="POST" action="/requestrecipe">
        <input type="hidden" name="recipeId" value="pizza123" />
        <button
          class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
          type="submit"
        >
          Request Recipe Now
        </button>
      </form>
    </div>
    <div class="w-1/2">
      <img src="/img/hero-pizza.png" alt="" />
    </div>
  </div>
</section>
<% listOfRecipes.forEach((recipe) => { %>
<div class="h-auto p-8 bg-gray-100 flex items-center justify-center">
  <div class="px-10">
    <div
      class="bg-white max-w-xl rounded-2xl px-10 py-8 shadow-lg hover:shadow-2xl transition duration-500"
    >
      <div class="mt-4">
        <h1
          class="text-lg text-gray-700 font-semibold hover:underline cursor-pointer postid"
        >
          <%= recipe.recipeName %>
        </h1>

        <p class="mt-4 text-md text-gray-600"><%= recipe.description %></p>

        <div class="flex justify-between items-center">
          <div class="mt-4 flex items-center space-x-4 py-6">
            <div class="text-md font-semibold"><%= recipe.username %></div>
          </div>

          <form method="POST" action="/requestrecipe">
            <input type="hidden" name="recipeId" value="<%= recipe.id %>" />

            <button
              type="submit"
              class="px-2 py-2 bg-yellow-500 rounded-md flex items-center justify-center text-md font-bold text-white mt-4 shadow-lg cursor-pointer max-w-max"
            >
              Request Recipe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% }) %> <% listOfPosts.forEach((post)=>{ %>
<div class="h-auto p-8 bg-gray-100 flex items-center justify-center">
  <div class="px-10">
    <div
      class="bg-white max-w-xl rounded-2xl px-10 py-8 shadow-lg hover:shadow-2xl transition duration-500"
    >
      <div class="mt-4">
        <h1
          class="text-lg text-gray-700 font-semibold hover:underline cursor-pointer"
        >
          <%= post.title %>
        </h1>
        <p class="mt-4 text-md text-gray-600"><%= post.description %></p>

        <div class="flex">
          <% post.hashtag.forEach((hashtag) => { %>
          <span
            class="px-1 py-1 rounded-md flex items-center justify-center text-lg text-yellow-600 mt-4 max-w-max"
          >
            <%= hashtag %>
          </span>
          <% }) %>
        </div>

        <div class="flex justify-between items-center">
          <div class="mt-4 flex items-center space-x-4 py-6">
            <div class="text-md font-semibold"><%= post.username %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% }) %>
